body {
    font-size: 16px;
    font-family: 'Helvetica Neue','Helvetica', 'Arial', 'sans-serif' ;
 }

 p {
    line-height: 1.5em;

 }

 img {
    max-height: 400px;
 }
 .highlight-color {
    color: #9b78ba;
 }